#link-bar a:visited {
	color: #FFF;
}

#link-bar li {
	float: left;
	padding: 15px;
}

.rst-versions {
	width: 320px !important;
}

.header-bar {
	background: #006492;
	min-height: 60px;
}

.link-bar-container {
	margin-left: 320px;
}

.wy-nav-content {
	background: #fcfcfc;
	border-left: 10px solid #FFD843;
}

@media screen and (max-width: 768px) {
	.wy-nav-content {
		border-left: none;
		border-top: 10px solid #FFD843;
	}
}

/* Tweaks to make sidebar scroll look pretty */
.wy-side-scroll {
	width: auto;
	overflow-y: auto;
	margin-top: 10px;
}

.wy-nav-side {
	width: 320px;
}

.wy-nav-content {
	max-width: 820px;
}

.wy-nav-content-wrap {
	margin-left: 320px;
}

.wy-nav-content-wrap{
	background: #006492;
}

.wy-side-nav-search{
	background: #006492;
}

.wy-nav-side,.wy-side-nav-search,.wy-nav-top {
	background: #006492;
}

.icon.icon-home {
	color: #39A4D5 !important;
}

.wy-menu-vertical li.current>a span.toctree-expand {
	color: #006492 !important;
}

.wy-menu-vertical li span.toctree-expand {
	color: #FFD843 !important;
}

/* Hide color bar on mobile */
@media screen and (max-width: 768px) {
	.header-bar {
		display: none;
	}

	.wy-nav-content-wrap {
		margin-left: 0px;
	}

	.wy-nav-side {
		width: 300px;
	}
}